.container1,
.navbar {
    background-color: #F0FFF0;
}

.right-shift {
    margin-left: 50%;
}

.intro-appearance {
    margin-top: 4%;
    display: flex;

}

.intro-text {
    padding: 100px;
    padding-left: 100px;
}

.img {
    width: 100px;
    height: 100px;
    margin-left: 25%;
    margin-top: 10%;

}

.hvr {
    border-radius: 0;
}

.hvr:hover {
    border-radius: 20px;
    background-color: lightgreen;
}

.img1 {
    width: 100px;
    height: 100px;
    margin-left: 25%;
}

.footer {
    display: flex;
}

.cart {
    width: 350px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-left: 300px;
    position: relative;
}

.main-cart {
    grid-column: 8 / -1;
    text-align: right;
}